{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
    <h3 class="my-2">Sales</h3>
    <div class="row justify-content-center align-items-center my-2 g-2">
        <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        <h4>Cashier</h4>
                    </div>
                    <div class="card-body">
                        
                        <div class="row">
                            <div class="col-md">
                                <button id="show-table" type="button" class="btn btn-outline-primary">View tables <i class="fa fa-eye" aria-hidden="true"></i></button>
                                <div class="row my-3" id="table-details"></div>
                                <div id="selected-table" class="row my-3" ></div>
                            </div>
                            <div class="col-md">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                        {% for category in categories %}
                                            <li class="nav-item">
                                                <a class="nav-item nav-link curs-ptr " data-id="{{category.id}}" data-toggle="tab" >
                                                {{category.name}}
                                                </a>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </nav>
                                <div id="list-menu" class="row mt-2"></div>
                                <div id="selected-dish" class="row mt-2"></div>
                            </div>
                        </div>
                    </div>
                    <div id="order-detail" class="card-footer">
                    </div>
                </div>
        </div>
    </div>    
</div>
<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Payment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="totalAmount" ></h5>
        <input id="recieved-amount" type="text" class="form-control my-2" placeholder="recieved" >
        <div class="form-group">
          <label for="payment">Payment Type</label>
          <select class="form-control" id="payment-type">
            <option value="cash">Cash</option>
            <option value="credit card">Credit Card</option>
          </select>
        </div>
        <span class="changeAmount"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary btn-save-payment">Save payment</button>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#table-details').hide();
        
            $('#show-table').click(function(){
            if( $('#table-details').is(":hidden") ){    
                $.get('/sales/getTables',function(data){
                    $('#table-details').html(data);
                    $('#table-details').slideDown('fast');
                    $('#show-table').html('Hide Tables <i class="fa fa-eye-slash" aria-hidden="true"></i>').removeClass('btn-outline-primary').addClass('btn-outline-danger');
            })
            }else{
            $('#table-details').slideUp('fast');
            $('#show-table').html('View Tables <i class="fa fa-eye" aria-hidden="true"></i>').removeClass('btn-outline-danger').addClass('btn-outline-primary');
        }
        })
        
        $('.nav-link').click(function(){
            var id = $(this).data('id');
            {# alert(id); #}
            $.get('/sales/getMenu/'+id,function(data){
                console.log("test");
                $('#list-menu').hide();
                $('#list-menu').html(data);
                $('#list-menu').fadeIn('fast');
        })
    })
        
        var SELECTED_TABLE_ID = "";
        var SELECTED_TABLE_NAME = "";
        var SALE_ID = "";
        // detect button table onclick to show table data
        $("#table-details").on("click", ".btn-table", function(){
            SELECTED_TABLE_ID = $(this).data("id");
            SELECTED_TABLE_NAME = $(this).data("name");
            $("#selected-table").html('<br><h4>Table: '+SELECTED_TABLE_NAME+'</h4><hr>');
            $.get('/sales/getSaleDetailsByTable/'+SELECTED_TABLE_ID, function(data){
                $("#order-detail").html(data);
            })
            
        });
        // make the order details 
        $("#list-menu").on("click", ".btn-menu", function(){
        if(SELECTED_TABLE_ID == ""){
        alert("Please select a table for the customer first");
        }else{
        var menu_id = $(this).data("id");
        $.ajax({
            type: "POST",
            data: {
            "_token" : $('meta[name="csrf-token"]').attr('content'),
            "menu_id": menu_id,
            "table_id": SELECTED_TABLE_ID,
            "table_name": SELECTED_TABLE_NAME,
            "quantity" : 1
            },
            url: "/sales/orderFood",
            success: function(data){
            $("#order-detail").html(data);
            }
        });
        }
    });
        $("#order-detail").on("click",".btn-confirm-order",function(){
            var SALE_ID = $(this).data("id");
            $.ajax({
            type: "POST",
            data: {
            "_token" : $('meta[name="csrf-token"]').attr('content'),
            "SALE_ID": SALE_ID,
            },
            url: "/sales/ConfirmOrder",
            success: function(data){
            $("#order-detail").html(data);
            }
        });

        })

        $("#order-detail").on("click",".btn-delete-saledetail",function(){
            var SALE_ID = $(this).data("id");
            $.ajax({
            type: "POST",
            data: {
            "_token" : $('meta[name="csrf-token"]').attr('content'),
            "SALE_ID": SALE_ID,
            },
            url: "/sales/DeleteOrder",
            success: function(data){
            $("#order-detail").html(data);
            }
        });

        })
        //payment modal

        $("#order-detail").on("click",".btn-payment",function(){
            var totalAmount = $(this).attr('data-totalAmount');
            $(".totalAmount").html("Total Amount " + totalAmount);
            $("#recieved-amount").val('');
            $(".changeAmount").html('');
            SALE_ID = $(this).data('id');

        // calcuate change
        $("#recieved-amount").keyup(function(){
            var totalAmount = $(".btn-payment").attr('data-totalAmount');
            var recievedAmount = $(this).val();
            var changeAmount = recievedAmount - totalAmount;
            $(".changeAmount").html("Total Change: $" + changeAmount);

            //check if cashier enter the right amount, then enable or disable save payment button

            if(changeAmount >= 0){
            $('.btn-save-payment').prop('disabled', false);
            }else{
            $('.btn-save-payment').prop('disabled', true);
            }

        })
})

        // save payment
        $(".btn-save-payment").click(function(){
            var recievedAmount = $("#recieved-amount").val();
            var paymentType =$("#payment-type").val();
            var saleId = SALE_ID;
            $.ajax({
            type: "POST",
            data: {
                "_token" : $('meta[name="csrf-token"]').attr('content'),
                "saleID" : saleId,
                "recievedAmount" : recievedAmount,
                "paymentType" : paymentType

            },
            url: "/sales/savePayment",
            success: function(data){
                window.location.href= data;
            }
            });
        });
})
</script>

{% endblock %}
