{% extends 'base.html.twig' %}


{% block body %}
<div class="container" >
<h2>Edit dishes</h2>
<div class="table-responsive">
    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">Order number</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            {% for dish in dishes %}
            <tr class="">
                <td scope="row">{{dish.id}}</td>
                <td>{{dish.name}}</td>
                <td>{{ dish.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}