{# {% apply inline_css %}

<style>

	h3 {
		color: #12b33d;
	}
</style> #}

<h1>Hello waiter</h1>

<h3>
	{# Der Tisch
	{{tisch}}
	hat folgende Nachricht geschickt: #}
</h3>

<p>
	{{message}}
</P>

{# {% endapply %} #}